#---------------------------------------------------------------------------------
# Activar RewriteEngine
#---------------------------------------------------------------------------------

RewriteEngine on
#---------------------------------------------------------------------------------
# Eliminar  Index.php
#---------------------------------------------------------------------------------
RewriteCond $1 !^ (index\.php|robots\.txt|sitemap\.xml)
RewriteRule ^ (.*)$ index.php/$1 [L]

